body
{
    margin: 0;
}
.container
{
    width: 640px;
    height: 400px;
    background-color: white;  
    margin: 0 auto;
    border: solid 2px black;

}
.header
{
    width: 640px;
    height: 75px;
    background-color: lightblue;
    text-align: center;
    color: navy;
    padding-top: 5px;
}
.leftp
{
   width: 240px;
   height: 200px;
   background-color: orange;
   float: left;
}
.rightp
{
    width: 400px;
    height: 200px;
    background-color: white;
    float: right;
}
.rightp h3{
    padding-left: 10px;
}
.rightp p{
  padding-left: 20px;
}
.leftp p{
    padding-left: 20px;
}
.foot
{   
    width: 640px;
    height: 115px;
    clear: both;
    text-align: right;
    background-color: lightblue;
    color: navy;
    padding-top: 5px;
}